{% for id in include.lessons %}
    {% assign lesson = 0 %}
    {% for p in site.rubric %}
        {% for d in p.dimension %}
            {% if d == id %}
<!-- found {{ id }} -->
                {% assign lesson = p %}
                {% break %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if lesson != 0 %}
{% for d in lesson.dimension %}
<h3>{% include indicator slug=d %}</h3>
    {% break %}
{% endfor %}
<p>{{ lesson.overview }}</p>
{% for d in lesson.dimension %}
{% include rubric dimension=d %}
    {% break %}
{% endfor %}
    {% endif %}
{% endfor %}