<style>
    .courseslug {
        color: white; 
        padding-left: 1em; 
        padding-right: 1em;
        padding-top: 0.2em; 
        padding-bottom: 0.2em; 
    }
</style>    
<table class="usa-table--borderless">
    <tr>
        <td><b>Health Indicator</b></td>
        <td><b>Lesson</b></td>
    </tr>
    
    {% for id in include.lessons %}
        {% assign lesson = 0 %}
        {% comment %}
            See if we're referencing a rubric dimension or a course.
        {% endcomment %}
        {% for p in site.rubric %}
            {% if p.dimension == id %}
                {% assign lesson = p %}
            {% endif %}
        {% endfor %}
        {% comment %}
            If it wasn't found in the rubric, look for it in the courses.
        {% endcomment %}
        {% if lesson == 0 %}
            {% for p in site.courses %}
                {% if p.dimension == id %}
                    {% assign lesson = p %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if lesson != 0 %}
            {% if lesson.indicator == "admin" %}
                {% assign color = "#aaaaaa" %}
            {% else %}
                {% assign color="#1d3557" %}
            {% endif %}
            {% comment %} Find all the courses that match this id {% endcomment %}
            {% for lesson in site.rubric %}
                {% if lesson.dimension == id %}
                    <tr>
                        <td>
                            <span class="courseslug" style="background: {{ color }};">{% include indicator slug=lesson.indicator %}</span> 
                        </td>
                        <td> 
                            <a href="{{ lesson.url | prepend: site.baseurl }}">{% if lesson.indicator != "admin" %}Lesson {{ lesson.lesson }} - {% endif %}{{ lesson.title }}</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </table>
    