<footer class="usa-footer site-footer no-print" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://www.cms.gov/">
              <img src="{{ '/assets/images/cms-logo.png' | prepend: site.baseurl }}" width="50" alt="Agency logo" %}
            </a>
          </div>
        </div>

        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/rubric/">Health Rubric</a></li>
            <li><a href="https://airtable.com/shrsMy2dpZDPbWTXW">Health Tracker</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
            <a rel="license"
               href="http://creativecommons.org/publicdomain/zero/1.0/">
              <img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
            </a>
            <br />
            To the extent possible under law,
            <a rel="dct:publisher"
               href="https://18f.gsa.gov/">
              <span property="dct:title">18F / TTS / GSA</span></a>
            has waived all copyright and related or neighboring rights to this work.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>