{% comment %} passes in the id {% endcomment %}
{% assign urls = '' | split: ',' %}
{% for page in site.rubric %}
    {% if page.dimension contains include.id %}
        {% assign urls = urls | push: page.url %}
    {% endif %}
{% endfor %}

{% assign length = (urls | size) %}
{%- if length > 0 -%}
    {% for url in urls %}
        <small><a href="{{ url | prepend: site.baseurl }}">{{ dimension.id }}{%- if length > 1 -%}-{{ forloop.index }}{%- endif -%}</a></small>
        {%- unless forloop.last -%}{{ include.sep }}{%- endunless -%}
    {% endfor %}
{%- else -%}
    <small>{{ dimension.id }}</small>
{%- endif -%}