{% comment %} passes in the id {% endcomment %}
{% assign urls = '' | split: ',' %}
{% for page in site.rubric %}
    {% if page.dimension == include.id %}
        {% assign urls = urls | push: page.url %}
    {% endif %}
{% endfor %}

{% assign length = (urls | size) %}
{% for url in urls %}
    <small><a href="{{ url | prepend: site.baseurl }}">{{ dimension.id }}{%- if length > 1 -%}-{{ forloop.index }}{%- endif -%}</a></small>
    {%- unless forloop.last -%},<br>{%- endunless -%}
{% endfor %}
