
## Sharing Experience (30m, small group)

Meet with your small group and connect what you learned in this lesson to situations you've seen with your state projects. Consult the notes you took throughout the lesson and try to link them to a story that you can tell about a particular project. It's probably useful to do some brainstorming on this before you meet with your small group to trade stories. 

When you get together with your small group:

1. Share your stories with each other.
2. Figure out which ones are the best candidates for a case study or use case that would be helpful to share with other state officers. 
3. As a group, choose useful stories and write notes on how they link up with the concepts shared.
    * Include in your notes:
        * When did this story take place? 
        * What were the events or background leading up to this story?
        * How did this story demonstrate an ideal or non-ideal situation? 
        * What specific principles from the lesson does this story illustrate?
        * If the story shows an ideal, what were the conditions that made it work? How did it fit with the principles shared in the lesson?
        * If the story shows a non-ideal, what could have changed to make it better?
4. Share these notes with the larger group when you meet.
5. After discussion with the larger group, document these stories and their connections to the lesson to help other state officers understand how this lesson's concepts apply to their work.
