
.tiprow {
    margin-top: 1em;
    
}

.section:nth-of-type(odd) {
    background: #eaeaea;
}

.section:nth-of-type(even) {
    background: #fff;
}

.section {
    padding: 0.5em;
    color: black;
}

.tip {
    margin: 0.5em;
    padding: 0.9em;
    background: white;
    color: black;
    border-radius: 10px;
}

.blanktip {
    margin: 0.5em;
    padding: 0.9em;
    border-radius: 10px;
}

.green {
    margin: 0.5em;
    padding: .9em;
    background: #57F41C;
    color: black;
    font-size: 80%;
    border-radius: 10px;
}

.yellow {
    margin: 0.5em;
    padding: 0.9em;
    background: #FFDF00;
    color: black;
    font-size: 80%;
    border-radius: 10px;
}

.red {
    margin: 0.5em;
    padding: 0.9em;
    background: #F65235;
    color: black;
    font-size: 80%;
    border-radius: 10px;
}

.priority {
    float: left;
    margin: 1em;
    font-variant: small-caps;
    font-size: 120%;
    font-weight: bold;
    width: 50%;

}

.arrow {
    border-right: 10px solid; 
    border-bottom: 10px solid;
    height: 20px;
    width: 20px;
    transform: rotate(-45deg);
}