/* From https://accessibility.18f.gov/hidden-content/ */
/* This is used on the rubric to *hide* the div-based version
   from screen readers, and a plain-text version will be presented instead.
   The plain text version is *just text*, and uses semantic layout to provide
   context/navigation. The "pretty" version is just that... it is more suitable
   for "print layout" than what a screen reader would enjoy.
*/
.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

/* Injecting rubric colors globally so they can
   be referenced as variables. Also... may need to 
   change to accommodate vision differences. */

/* Thinking about color blindness, and our color choices in the site. */
/*
################################################################################
# 8-color palette for deuteranopia color blindness
# 18:05:14 Tue 19 May 2020
# Martin Krzywinski martink@bcgsc.ca
# Methods and details: http://mkweb.bcgsc.ca/colorblind
# Color names: http://mkweb.bcgsc.ca/colornames
################################################################################
# Main palette colors are N-main with N-alt being (one of many) alternatives
# that are indistinguishable to deuteranopes.
################################################################################
color  1-main 000000   0   0   0 black, grey, grey, grey, rich black, grey, cod grey, grey, almost black, grey
color  2-main 2271B2  34 113 178 honolulu blue, bluish, strong cornflower blue, spanish blue, medium persian blue, sapphire blue, ocean boat blue, french blue, windows blue, tufts blue
color  2-alt  AA0DB4 170  13 180 barney, strong magenta, heliotrope magenta, strong heliotrope, steel pink, barney purple, purple, violet, violet eggplant, deep magenta
color  3-main 3DB7E9  61 183 233 summer sky, cyan, picton blue, vivid cerulean, deep sky blue, brilliant cornflower blue, malibu, bright cerulean, cerulean, cerulean
color  3-alt  FF54ED 255  84 237 light magenta, violet pink, light brilliant magenta, pink flamingo, light brilliant orchid, brilliant magenta, purple pizzazz, candy pink, blush pink, shocking pink
color  4-main F748A5 247  72 165 barbie pink, rose bonbon, wild strawberry, brilliant rose, brilliant rose, magenta, wild strawberry, light brilliant rose, frostbite, brilliant cerise
color  4-alt  00B19F   0 177 159 strong opal, tealish, persian green, keppel, topaz, manganese blue, light sea green, sea green light, puerto rico, turquoise
color  5-main 359B73  53 155 115 ocean green, sea green, viridian, mother earth, moderate spring green, moderate aquamarine, paolo veronese green, observatory, jungle green, ocean green
color  5-alt  EB057A 235   5 122 vivid rose, red purple, mexican pink, bright pink, rose, strong pink, luminous vivid rose, deep pink, winter sky, hot pink
color  6-main d55e00 213  94   0 bamboo, smoke tree, red stage, tawny, tenn, tenne, burnt orange, rusty orange, dark orange, mars yellow
color  6-alt  F8071D 248   7  29 vivid red, luminous vivid amaranth, ruddy, ku crimson, vivid amaranth, light brilliant red, cherry red, red, red, bright red
color  7-main e69f00 230 159   0 gamboge, squash, buttercup, marigold, dark goldenrod, medium goldenrod, fuel yellow, sun, harvest gold, orange
color  7-alt  FF8D1A 255 141  26 dark orange, juicy, west side, tangerine, gold drop, pizazz, princeton orange, university of tennessee orange, tangerine, tahiti gold
color  8-main f0e442 240 228  66 holiday, buzz, paris daisy, starship, golden fizz, dandelion, gorse, lemon yellow, bright lights, sunflower
color  8-alt  9EFF37 158 255  55 french lime, lime, green yellow, green lizard, luminous vivid spring bud, spring frost, vivid spring bud, bright yellow green, spring bud, acid green
*/
/*
:root {
    --danger-color: #601A4A;
    --warning-color: #EE442F;
    --ok-color: #63ACBE;
}
*/
:root {
    --danger-color: #F65235;
    --warning-color: #FFDF00;
    --ok-color: #57F41C;
}

.danger-text {
    color: var(--danger-color)
}

.warning-text {
    color: var(--warning-color)
}

.ok-text {
    color: var(--ok-color)
}

.tiprow {
    margin-top: 1em;
    
}

.section:nth-of-type(odd) {
    background: #eaeaea;
}

.section:nth-of-type(even) {
    background: #fff;
}

.section {
    padding: 0.5em;
    color: black;
}

.tip {
    margin: 0.5em;
    padding: 0.9em;
    background: white;
    color: black;
    border-radius: 10px;
}

.blanktip {
    margin: 0.5em;
    padding: 0.9em;
    border-radius: 10px;
}

.green {
    margin: 0.5em;
    padding: .9em;
    background: var(--ok-color);
    color: black;
    font-size: 80%;
    border-radius: 10px;
}

.yellow {
    margin: 0.5em;
    padding: 0.9em;
    background: var(--warning-color);
    color: black;
    font-size: 80%;
    border-radius: 10px;
}

.red {
    margin: 0.5em;
    padding: 0.9em;
    background: var(--danger-color);
    color: black;
    font-size: 80%;
    border-radius: 10px;
}

.priority {
    float: left;
    margin: 1em;
    font-variant: small-caps;
    font-size: 120%;
    font-weight: bold;
    width: 50%;

}

.arrow {
    border-right: 10px solid; 
    border-bottom: 10px solid;
    height: 20px;
    width: 20px;
    transform: rotate(-45deg);
}