---
layout: widepage
---
<style>
    .courseslug {
        color: white; 
        padding-left: 1em; 
        padding-right: 1em;
        padding-top: 0.2em; 
        padding-bottom: 0.2em; 
    }
</style>    

<h1> {{ page.title }} </h1>
<br>

{% for dim in page.dimension %}
<span class="courseslug" style="background: #1d3557;">
    {% include indicator slug=dim %}
</span>
<br>
    {% include rubric dimension=dim %}
<br>
{% endfor %}



<h2>What's this about?</h2>

<p>{{ page.overview }}</p>

<h2>Lesson outline</h2> 

{% include toc.html html=content h_max=2 %}

{{ content }}

{% include derisking.html %}

{% include airtable-post.html %}